.container {
  background-color: var(--ocean-mist);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 72px);
  box-sizing: border-box;
  padding-top: 0;
  justify-content: center;
  .greetPill {
    background-color: var(--light-green-2);
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;

    svg {
      color: yellow;
      margin-right: 8px;
    }
  }
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 40px;
  color: white;
}
